#main-section {
	margin-top: 80px;
}

form#search input {
	width: 90%;
	float: left;
	margin-right: 10px;
}
form#search button {
	float: left;
}

ul.category {
	list-style: none;
	padding: 5px;
	line-height: 1.8em;
}

ul a {
	font-size: 1.1em;
	color: #444;
}

ul a:hover {
	color: #444;
}

.item-result {
	margin: 30px auto 0 auto;
}

.item-result .title-bar {
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.item-result h1 {
	display: inline-block;
}

.item-result h3, .item-result div.price {
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.item-result div.price {
	padding-top: 20px;
}

.item-result h4 {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px
}

.item-result form {
	display: inline-block;
	margin-top: 10px;
}

.item-result form#filter {
	display: inline-block;
	margin-top: 25px;
	float: right;
}

.item-result .item-container {
	margin-bottom: 30px;
}

.item-result div.item {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	/*margin-right: 30px;
	margin-bottom: 30px;*/
}

div.item a,
div.item img {
	color: #fff;
	display: block;
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}

div.item a div {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 200px;
	padding: 10px;
	top: 80%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

div.item a:hover div {
	top: 20%;
}

div.item img {
	width: 200px;
}

div.pagination {
	margin: 30px 0;
	padding: 10px 0;
}

div#pagination a, div#pagination strong {
	font-size: 1.1em;
	color: #444;
	margin: 0 5px 0 0;
	background-color: #eee;
	border-radius: 3px;
	padding: 10px;
}

#detail {
	margin-bottom: 30px;
}

#detail .main-image {
	height: 380px;
	width: auto;
}

#detail img {
	display: block;
	margin: 0 auto;
}

#detail .thumb-container {
	margin: 20px 0;
	overflow: hidden;
}

#detail .thumb {
	width: 33.33%;
	float: left;
	padding: 10px;
}

.thumb img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	cursor: pointer;
}

#detail p.description {
	padding: 20px 0;
}

.carts-img {
	width: 50px;
	height: 50px;
}

footer {
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

footer div {
	padding: 10px;
}


/* featured items slide shows */

#slideshow-frame {
	width: 100%;
	position: relative;
}

#slideshow-frame ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

#slideshow-frame li {
	position: relative;
	float: left;
	width: 120px;
	margin: 25px;
}

#slideshow-frame p {
	margin-top: 10px;
}
	
#slideshow-frame img {
	 width: 120px;
	 height: 120px;
}

.slideshow-box {
 	width: 90%;
 	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.arrow-next {
	background: url("/assets/images/icons/next.png") no-repeat 0 60px;
	right: 0;
}
	
.arrow-prev {
	background: url("/assets/images/icons/prev.png") no-repeat 0 60px;
	left: 0;
}
.arrow-next, .arrow-prev {
	top: 0;
	width: 50px;
	height: 300px;
	position: absolute;
	cursor: pointer;
	opacity: 0.1;
	filter: alpha(opacity=10); /* For IE8 and earlier */
}

.arrow-next:hover, .arrow-prev:hover {
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}